@model IEnumerable<AccountBook.Models.PaymentHeader>

@{
    ViewData["Title"] = "Index";
}

<h1>明細</h1>

<p>
    <a asp-action="Create">新しく明細を作成する</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.PaymentHeaderId">
                    @Html.DisplayFor(modelItem => item.PaymentName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoneyAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
        </tr>
}
    </tbody>
</table>
